<footer class="pie-pagina">
    <div class="pie-pagina__contenedor">
        
        <p class="pie-pagina__copyright">
            &copy; {{ year }} <strong>Creative Eye</strong>. Todos los derechos reservados
        </p>
        
        <ul class="pie-pagina__menu">
            <li><a class="pie-pagina__enlace">Política y privacidad</a></li>
            <li><a class="pie-pagina__enlace">Términos y condiciones</a></li>
            <li><a class="pie-pagina__enlace">Contacto</a></li>
        </ul>

    </div>
</footer>