# Archivos de entorno
.env
.env.local
.env.development
.env.production
.env.* 

# Archivos de sistema
.DS_Store
Thumbs.db

# Configs de IDEs
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db


# Node / Angular
node_modules/
dist/
build/
*.log


