<div *ngIf="producto" class="producto-detalle">

    <h1 class="producto-detalle__titulo">{{ producto.nombre }}</h1>

    <div class="producto-detalle__principal">
        
        <img class="producto-detalle__imagen" [src]="producto.foto" [alt]="producto.nombre">

        <div class="producto-detalle__info">
            <p class="producto-detalle__info-item">Precio: 
                <span class="producto-detalle__info-dato">{{ producto.precio | number:'1.0-2'}} €</span>
            </p>
            <p class="producto-detalle__info-item">Categoría: 
                <span class="producto-detalle__info-dato">{{ producto.categoria?.nombre }}</span>
            </p>
            <p class="producto-detalle__info-item">Unidades disponibles: 
                <span class="producto-detalle__info-dato">{{ producto.cantidad }}</span>
            </p>

            <div class="producto-detalle__compra">
            
            <div class="producto-detalle__stepper">
                <button 
                class="producto-detalle__stepper-boton" 
                type="button" 
                (click)="actualizarCantidad(-1)">-</button>
                
                <span class="producto-detalle__stepper-valor">{{ cantidad }}</span>
                
                <button 
                class="producto-detalle__stepper-boton" 
                type="button" 
                (click)="actualizarCantidad(1)">+</button>
            </div>
            
            <button 
                class="producto-detalle__boton-comprar" 
                type="button" 
                (click)="addToCart()">
                Añadir al Carrito
            </button>
            </div>

        </div>
    </div> 

    <p class="producto-detalle__descripcion">{{ producto.descripcion }}</p>

    <div class="producto-detalle__grafica" *ngIf="mostrarGrafica">
        <h3 class="producto-detalle__grafica-titulo">Rendimiento Técnico</h3>
        
        <div class="producto-detalle__canvas-contenedor">
            <canvas baseChart
                [datasets]="radarChartDatasets"
                [options]="radarChartOptions"
                [labels]="radarChartLabels"
                type="radar">
            </canvas>
        </div>
    </div>
</div>


<div *ngIf="!producto && !errorMessage" class="producto-detalle__cargando">
    <p>Cargando producto...</p>
</div>

<div *ngIf="errorMessage" class="producto-detalle__error">
    <h1>Producto no encontrado</h1>
    <p>{{ errorMessage }}</p>
</div>