<div class="login-contenedor">
  <h2>Inicio de Sesión</h2>
  
  <form (ngSubmit)="login()">

    <input 
      type="email" 
      name="username" 
      placeholder="E-mail" 
      id="ruser" 
      required 
      autocomplete="username"
      [(ngModel)]="username">
    
    <div class="div-pass">
      <label id="l-rpass1" for="rpass1"></label>
      <input 
        type="password" 
        name="password" 
        placeholder="password" 
        id="rpass1" 
        required 
        autocomplete="new-password"
        [(ngModel)]="password">
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    
    <input type="submit" class="boton" value="Enviar" id="boton-loguea">
  
  </form>
  <p>¿Eres nuevo? <a href="#">Regístrate</a></p>
</div>