  <div class="login">
  
  <div class="login__contenedor">

    <h2 class="login__titulo">Inicio de Sesión</h2>
    
    <form class="login__formulario" (ngSubmit)="login()">

      <input 
        class="login__entrada"
        type="email" 
        name="username" 
        placeholder="E-mail" 
        id="ruser" 
        required 
        autocomplete="username"
        [(ngModel)]="username">
      
      <div class="login__grupo-pass">
        <div class="login__input-wrapper"> <input 
              class="login__entrada login__entrada--con-icono" 
              [type]="mostrarPass ? 'text' : 'password'" 
              name="password" 
              placeholder="Contraseña" 
              id="rpass1" 
              required 
              autocomplete="current-password"
              [(ngModel)]="password">
            
            <img 
              [src]="mostrarPass ? '/assets/images/ver.svg' : '/assets/images/no-ver.svg'" 
              class="login__icono-pass"
              (click)="mostrarPass = !mostrarPass"
              alt="Mostrar/Ocultar contraseña">
        </div>
      </div>

      <input type="submit" class="login__boton" value="Enviar">
    
    </form>
    
    <p class="login__texto-registro">
      ¿Eres nuevo? <a class="login__enlace-registro" routerLink="/registro">Regístrate</a>
    </p>

  </div> 
</div>